body {
  background-color: #111;
  margin: 0 0 0 0;
  font-family: monospace;
}
.nav {
  position: absolute;
  display: block;
  background-color: #000;
  padding-bottom: 5px;
  width: 100%;
}
#header {
  font-size: 22px;
  float:left;
  font-family: monospace;
  color: #efefef;
  margin-right: 300px;
  padding-top: 5px;
}
#login-box {
  list-style: none;
  width: auto;
}
#login-box li {
  display: inline;
}
iframe {
  position: relative;
  top: 100px;
}
#pass {
  border: none;
  background-color: #222;
  font-size: 18px;
  color: #efefef;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  margin-left: 200px;
}
#pass:focus {
  background: #efefef;
  color:#000;
}
#enter {
  border: 1px solid #efefef;
  background: none;
  color: #efefef;
  font-size: 14px;
  margin-left:20px;
  font-family: monospace;
}
#enter:hover {
  border: 2px solid #fff;
  background: #999;
  color: #000;
}
.wrapper {
  position: relative;
  top: 80px;
  color: #ccc;
  border: 1px solid #999;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
}
.wrapper-text {
  color: #efefef;
  font-size: 18px;
}
.data {
  font-size:18px;
  padding-top: 7px;
  padding-bottom: 5px;
}
.button {
  font-family: monospace;
  font-size: 17px;
  background: transparent;
  color: #ccc;
  border: none;
}
.button:hover {
  border: 1px solid #eee;
}
