@import url(http://fonts.googleapis.com/css?family=Coda);
@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
@import url(http://fonts.googleapis.com/css?family=Audiowide);

* {
    padding:0;
    margin:0;
}

body {
    /*background-image:url(../img/maingbg.png)*/
    background: none transparent;
    overflow-x: none;
    overflow-y: none;
}

.wrapper {
	width:960px;
	margin:0 auto;
}
h4 {
    color:#eee;
    font-family:"Text Me One", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size:18px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-weight: normal;
    margin-top: 20px;
}

.clock {
    width:845px;
    margin:0 auto;
    margin-top:50px;
    -moz-user-select: none;
      -webkit-user-select: none;
        -ms-user-select: none;
}

.clock_days {
    float:left;
    margin-right:30px;
}
.clock_hours {
    float:left;
    margin-right:30px;
}
.clock_minutes {
    float:left;
    margin-right:30px;
}
.clock_seconds {
    float:left;
}

.bgLayer { 
    /*background-image:url(../img/bg.png);*/
    background-repeat:no-repeat;
    position:relative; 
}

.topLayer { 
    position:absolute; 
    /*background-image:url(../img/top.png);*/
    width:188px;
    height:188px;
    background-repeat:no-repeat;
}

.text { position:absolute; top:45px; left:42px; width:100px;  height:100px;}

.val {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-family: 'Text Me One', cursive;
    font-size:47px;
    color:#fff;
    text-align:center;
    line-height:50px;
    margin-top:15px;
    width:100px;
}

.type_days {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-family: 'Text Me One', cursive;
    color:#ff0000;
    width:100px;
    text-align:center;
    font-size:20px;
    line-height:20px;
    text-transform:uppercase;
}

.type_hours {
    font-family: 'Text Me One', cursive;
    color:#ff0000;
    width:100px;
    text-align:center;
    font-size:20px;
    line-height:20px;
    text-transform:uppercase;
}

.type_minutes {
    font-family: 'Text Me One', cursive;
    color:#ff0000;
    width:100px;
    text-align:center;
    font-size:20px;
    line-height:20px;
    text-transform:uppercase;
}

.type_seconds {
    font-family: 'Text Me One', cursive;
    color:#ff0000;
    width:100px;
    text-align:center;
    font-size:20px;
    line-height:20px;
    text-transform:uppercase;
}

.divider {
	width:960px;
	height:71px;
	background-image:url(../img/diviers.png);
	float:left;
	margin-top:50px;
}

.divider p { 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px; 
	color:#b6b6b6; 
	line-height:70px;
	text-align:center;
}

.divider a {
	color:#39F;
	text-decoration:none;
}

.divider a:hover {
	color:#FFF;
}
