@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);


body {
  background: #f2f2f2;
  color: #111;
  overflow-x: hidden;
}
#header {
  font-family: 'Text Me One', Helvetica;
  text-align: center;
  font-size: 80%;
  margin-bottom: 3%;
  width: 100%;
}
#header b {
  color: #f00;
}
.content {
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 4%;
  text-align: center;
}
.content b {
  color:#000;
}
#updates {
  color: #222;
  padding: 3% 3% 3% 3%;
}
#colg {
  background-color: rgba(0,0,0,.3);
  padding: 2% 2% 2% 2%;
  margin-bottom: 5%;
}
#colg a , .technieks a{
  text-decoration: none;
  color: #222;
}
.technieks {
  background-color: rgba(255,8,8,.3);
  padding: 2% 2% 2% 2%;
  margin-bottom: 5%;
}
