@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);


@font-face {
  font-family: 'cb';
  src: url('../fonts/cb.ttf');
}

body {
  /*background-image:url('../images/bg03.png');*/background-color: #111;
  background-size: cover;

  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 0 0 0;
}
.home, .about, .sponsors, .events, .contact, .gallery {
  background-image: url('../images/bg.jpg');
  background-size: cover;
}
#header {
  position: fixed center;
  height: 90px;
  margin: auto;
  width: 900px;
  padding-top: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#logo-img {
  height: 70px;
  width: 60px;
  position: relative;
  top: -10px;
  right:290px;
}
#header-technieks {
  color: #fff;
  position: relative;
  top: -115px;
  font-family: 'Text Me One', sans-serif;
}
#header-technieks img {
  position: relative;
  top:0px;
}
#header-technieks b {
  color: #f00;
  font-size: 18px;
}
#header-colg {
  position: relative;
  bottom:95px;
  font-family: 'Text Me One', sans-serif;
  color: #fff;
  font-size: 20px;
}
.nav {
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
  top: -10px;
  list-style: none;
  left: 50%;
  width: 1000px;
  margin-left:-430px;
  margin-right:auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav li {
  float: left;
  padding-left:20px;
  padding-right:20px;
}
.nav a {
  display: block;
  width: 110px;
  height: auto;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 23px;
  margin-top: 50px;
  font-family: 'Varela Round', Helvetica;
  color: #fff;
  transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
}
.nav a:hover {
  color: rgba(255,10,10,1);
  transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
}
.wrap {
  overflow: hidden;
}
#clockdiv {
  position: fixed;
  width: 1000px;
  height: 300px;
  overflow: hidden;
  right: -20%;
  top: -80px;
  z-index: 99999;
  /*left: 50%;
  margin-left: -510px;
  top: 205px;*/
  -moz-transform: scale(0.45);
  -webkit-transform: scale(0.45);
}
#fb-like {
  position: absolute;
  top: 150px;
  right: 15px;
}
.twitter-follow-button {
  position: absolute;
  top: 200px;
  right: 50px;
}
#visitorcount {
  position: fixed;
  bottom: 0px;;
  color: #eee;
  background: rgba(140,0,0,0.5);
  padding-top: 5px;
  width: 110px;
  height: 20px;
  left: 50%;
  margin-left: -60px;
  text-align: center;
  -webkit-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
  font-family: 'Varela Round', cursive;
  font-size: 14px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.scrollv {
  overflow-y: auto !important;
}
#footer {
  color: #eee;
  position: fixed;
  float: left;
  font-family: 'Text Me One', sans-serif;
  padding-bottom: 5px;
  padding-left: 10px;
  bottom: 5px;
  z-index: 99999;
}
#descoftechnieks {
  color: #eee;
  width: 50%;
  font-family: 'Text Me One', sans-serif;
  font-size: 18px;
  top: 230px;
  cursor: url;
  text-align: center;
  padding: 15px 15px 15px 15px;
  border: 0px solid #eee;
  background: rgba(255,32,0,0.8);
}
#descofcollege {
  color: #eee;
  width: 50%;
  font-family: 'Text Me One', sans-serif;
  font-size: 18px;
  text-align: center;
  top: 230px;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  border: 0px solid #eee;
  background: rgba(255,32,0,0.8);
}
#descoftechnieks:hover, #descofcollege:hover {
  background: rgba(255,32,0,1);
}
#descofcollege a {
  text-decoration: none;
  color: inherit;
}
#socialmedia {
  position: absolute;
  top:950px;
  left:50%;
  width:300px;
  margin-left: -150px;
}
.fbtw {
  width: 120px;
  opacity: 0.7;
  border-radius: 100%;
  padding: 1px 1px 1px 1px;
  margin-left: 10px;
  margin-right: 10px;
  transition: .2s;
}
.fbtw:hover{
  opacity: 1;
  transition: .2s;
  box-shadow: inset 0 0 1px 1px #222;
}
#android-download {
  width: 60px;
  position: relative;
  left: 35%;
}
#updates {
  position: absolute;
  top: 85%;
  background-color:rgba(0,0,0,.5);
  color: #ddd;
  width: 35%;
  height: 70px;
  left: 12%;
  margin-left: 10px;
  font-family: 'Text Me One', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 2px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}
#tweet {
  position: absolute;
  top: 85%;
  background-color:rgba(0,0,0,.5);
  width: 35%;
  height: 70px;
  right: 12%;
  margin-right: 10px;
  color: #ddd;
  font-family: 'Text Me One', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 2px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: .5s ease-in-out;
}
#updates:hover {
  background-color:rgba(0,0,0,1);
  color: #ff0000;
  transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;

}
#tweet:hover {
  background-color:rgba(0,0,0,1);
  color: #ff0000;
  transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
}
#contact-info {
  color: #eee;
  position: absolute;
  top: 230px;
  left: 50%;
  margin-left: -320px;
  font-family: 'Text Me One', sans-serif;
  font-size: 19px;
  height: auto;
  text-align: center;
  width: 600px;
  border:  1px solid #FF4000;
  background: rgba(255,32,0,.2);
  padding-top: 30px;
  padding-bottom: 25px;
}
#events-box {
  display: inline;
  position: absolute;
  margin-left:0px;
  width: 900px;
  border: 0px solid #fff;
  margin-left: -450px;
  height: auto;
}
.event-desc {
  position: relative;
  float: left;
  text-align: center;
  margin: 5px 5px 5px 5px;
  padding: 2px 2px 2px 2px;
  margin-left: 18px;
  color: #fff;
  top:0;
  width: 268px;
  height: 280px;
  border: 0px #ff5000 solid;
  background-color: #000;
}
#sponsors-box {
  text-align: center;
  color: #eee;
  width: 900px;
  margin-top: -25px;
}
#sponsors-box a {
  color: #ff4000;
  text-decoration: none;
  font-size: 25px;
  font-family: Helvetica;
  height: 80px;
  width: 200px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
#sponsors-box a:hover {
  color: #fff;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.sponsors-imgless {
  padding: 5px;
}
.sponsor-desc {
  margin-left: 140px;
  margin-right: 140px;
  font-size: 22px;
  font-family: 'Varela Round',sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sponsor-desc img {
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}
.btn {
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  opacity: 0.9;
  transition: .2s;
  text-decoration: none;
  margin: 2px 2px 2px 2px;
}
.btn:hover {
  opacity:1;
  transition: .08s;
  color:#eee;
}
.red {
  color: #eee;
  background-color: rgba(255,32,0,.5);
}
.desc {
  visibility: hidden;
  position: relative;
  top:-280px;
  height:280px;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}
.event-desc a {
  text-decoration: none;
}
.event-desc:hover .desc {
  visibility: visible;
}
.event-desc a:hover {
  visibility: hidden;
}
#updates-roll {
  height: 320px;
  margin-top: -30px;
  width: 900px;
  border: 0px solid #fff;
  background-color: rgba(0,110,0,.3);
}
#events-nav {
  position: fixed;
  z-index: 9999;
  right: 80px;
  top: 250px;
  text-align: center;
}
#events-nav li {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}
#events-nav li a {
  color: #eee;
  text-decoration: none;
  font-family: 'Varela Round' , sans-serif;
  border: 1px solid #f00;
  background-color: rgba(0,0,0,1);
  padding: 10px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
}
#events-nav li a:hover {
  color: #f00;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  background-color: rgba(10,10,10,.7);
}
#partners {
  position: fixed;
  top: 430px;
  right: 40px;
  height: auto;
  width: 150px;
  z-index: 999;
}
#partners-text {
  color: #fff;
  position: fixed;
  top: 405px;
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
  right: 60px;
  z-index: 9999;
}
